body, html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

a:hover {
    text-decoration: none;
}

.top-slider {
    float: left;
    width: 100%;
}

.top-slider img {
    max-width: 100%;
}

.m0 {
    margin: 0 !important
}

.m5 {
    margin: 5px !important
}

.m10 {
    margin: 10px !important
}

.m15 {
    margin: 15px !important
}

.m20 {
    margin: 20px !important
}

.m25 {
    margin: 25px !important
}

.m30 {
    margin: 30px !important
}

.mt0 {
    margin-top: 0 !important
}

.mt5 {
    margin-top: 5px !important
}

.mt10 {
    margin-top: 10px !important
}

.mt15 {
    margin-top: 15px !important
}

.mt20 {
    margin-top: 20px !important
}

.mt25 {
    margin-top: 25px !important
}

.mt30 {
    margin-top: 30px !important
}

.mt40 {
    margin-top: 40px !important
}

.mt50 {
    margin-top: 50px !important
}

.mr0 {
    margin-right: 0 !important
}

.mr5 {
    margin-right: 5px !important
}

.mr10 {
    margin-right: 10px !important
}

.mr15 {
    margin-right: 15px !important
}

.mr20 {
    margin-right: 20px !important
}

.mr25 {
    margin-right: 25px !important
}

.mr30 {
    margin-right: 30px !important
}

.mb0 {
    margin-bottom: 0 !important
}

.mb5 {
    margin-bottom: 5px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.mb15 {
    margin-bottom: 15px !important
}

.mb20 {
    margin-bottom: 20px !important
}

.mb25 {
    margin-bottom: 25px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.mb50 {
    margin-bottom: 50px !important
}

.ml0 {
    margin-left: 0 !important
}

.ml5 {
    margin-left: 5px !important
}

.ml10 {
    margin-left: 10px !important
}

.ml15 {
    margin-left: 15px !important
}

.ml20 {
    margin-left: 20px !important
}

.ml25 {
    margin-left: 25px !important
}

.ml30 {
    margin-left: 30px !important
}

.mlm5 {
    margin-top: -5px !important
}

.mlm10 {
    margin-top: -10px !important
}

.mlm15 {
    margin-top: -15px !important
}

.mlm20 {
    margin-top: -20px !important
}

.mlm25 {
    margin-top: -25px !important
}

.mtm5 {
    margin-top: -5px !important
}

.mtm10 {
    margin-top: -10px !important
}

.mtm15 {
    margin-top: -15px !important
}

.mtm20 {
    margin-top: -20px !important
}

.mtm25 {
    margin-top: -25px !important
}

.mrm5 {
    margin-top: -5px !important
}

.mrm10 {
    margin-top: -10px !important
}

.mrm15 {
    margin-top: -15px !important
}

.mrm20 {
    margin-top: -20px !important
}

.mrm25 {
    margin-top: -25px !important
}

.mbm5 {
    margin-top: -5px !important
}

.mbm10 {
    margin-top: -10px !important
}

.mbm15 {
    margin-top: -15px !important
}

.mbm20 {
    margin-top: -20px !important
}

.mbm25 {
    margin-top: -25px !important
}

.p0 {
    padding: 0 !important
}

.p5 {
    padding: 5px !important
}

.p10 {
    padding: 10px !important
}

.p15 {
    padding: 15px !important
}

.p20 {
    padding: 20px !important
}

.p25 {
    padding: 25px !important
}

.pt0 {
    padding-top: 0 !important
}

.pt5 {
    padding-top: 5px !important
}

.pt10 {
    padding-top: 10px !important
}

.pt15 {
    padding-top: 15px !important
}

.pt20 {
    padding-top: 20px !important
}

.pt25 {
    padding-top: 25px !important
}

.pr0 {
    padding-right: 0 !important
}

.pr5 {
    padding-right: 5px !important
}

.pr10 {
    padding-right: 10px !important
}

.pr15 {
    padding-right: 15px !important
}

.pr20 {
    padding-right: 20px !important
}

.pr25 {
    padding-right: 25px !important
}

.pb0 {
    padding-bottom: 0 !important
}

.pb5 {
    padding-bottom: 5px !important
}

.pb10 {
    padding-bottom: 10px !important
}

.pb15 {
    padding-bottom: 15px !important
}

.pb20 {
    padding-bottom: 20px !important
}

.pb25 {
    padding-bottom: 25px !important
}

.pl0 {
    padding-left: 0 !important
}

.pl5 {
    padding-left: 5px !important
}

.pl10 {
    padding-left: 10px !important
}

.pl15 {
    padding-left: 15px !important
}

.pl20 {
    padding-left: 20px !important
}

.pl25 {
    padding-left: 25px !important
}

.per5 {
    width: 5% !important
}

.per10 {
    width: 10% !important
}

.per15 {
    width: 15% !important
}

.per20 {
    width: 20% !important
}

.per25 {
    width: 25% !important
}

.per30 {
    width: 30% !important
}

.per35 {
    width: 35% !important
}

.per40 {
    width: 40% !important
}

.per45 {
    width: 45% !important
}

.per50 {
    width: 50% !important
}

.per55 {
    width: 55% !important
}

.per60 {
    width: 60% !important
}

.per65 {
    width: 65% !important
}

.per70 {
    width: 70% !important
}

.per75 {
    width: 75% !important
}

.per80 {
    width: 80% !important
}

.per85 {
    width: 85% !important
}

.per90 {
    width: 90% !important
}

.per95 {
    width: 95% !important
}

.per100 {
    width: 100% !important
}

.clr {
    clear: both;
}

.navbar {
    margin: 0px;
    height: 107px;
    background: #fff;
    border: none;
    position: relative;
}

.navbar:before {
    position: absolute;
    bottom: -6px;
    left: 0px;
    background: #fff;
    width: 100%;
    content: " ";
    height: 2px;
}

.navbar-brand {
    max-width: 332px;
    max-height: 96px;
    height: 100%;
    padding: 0px;
    margin-top: 6px;
}

.navbar-brand img {
    width: 100%;
    height: 96px;
}

.nav > li {
    margin-top: 57px;
}

.nav > li > a {
    margin-top: 18px;
    margin-bottom: 18px;
    color: #393939 !important;
    text-transform: uppercase;
    font-size: 12px;
    line-height: normal;
    padding: 0px 23px;
}

.three-part-section {
    float: left;
    width: 100%;
    padding: 100px 0px;
    text-align: center;
}

.three-part-section .box {
    max-width: 325px;
    margin: 0 auto;
}

.three-part-section .box span {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.three-part-section .box h2 {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    color: #393939;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 35px;
}

.three-part-section .box p {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #717171;
    line-height: 24px;
    margin-bottom: 35px;
}

.three-part-section .box a {
    background: #b3b3b3;
    color: #fff;
    text-transform: uppercase;
    height: 34px;
    width: 100%;
    max-width: 113px;
    line-height: 34px;
    font-size: 14px;
    margin: 0 auto;
    clear: left;
    display: block;
    font-weight: 500;
    border-radius: 3px;
}

.three-part-section .box a:hover {
    text-decoration: none;
    background: #f3f3f3;
    color: #3a3a3a;
}

.next-club-meeting {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    background: url(../images/next-club-meeting-bg.png) no-repeat 0 0;
    background-size: cover;
    padding: 100px 0px;
}

.next-club-meeting h2 {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
}

.next-club-meeting p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 35px;
    margin-bottom: 35px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.next-club-meeting a {
    color: #fff;
    border: 1px #fff solid;
    border-radius: 3px;
    width: 100%;
    max-width: 166px;
    height: 42px;
    line-height: 40px;
    clear: left;
    margin: 0 auto;
    display: block;
    font-size: 16px;
}

.map-section {
    float: left;
    width: 100%;
}

.map-section iframe {
    float: left;
    width: 100%;
    height: 386px;
}

.photo-gallery {
    float: left;
    width: 100%;
    padding: 100px 0px 70px;
}

.photo-gallery .photo-head {
    float: left;
    width: 100%;
    margin-bottom: 42px;
}

.photo-gallery .photo-head h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    color: #393939;
    font-weight: bold;
}

.photo-gallery .photo-head .view-all-btn a {
    color: #393939;
    font-size: 14px;
    position: relative;
    padding-right: 35px;
}

.photo-gallery .photo-head .view-all-btn a:before {
    position: absolute;
    right: 0;
    top: 0px;
    content: " ";
    background: url(../images/view-all-icon.png) no-repeat 0 0;
    height: 20px;
    width: 20px;
}

.image-box {
    width: 100%;
    position: relative;
    display: block;
    max-width: 360px;
    margin: 0px auto 30px;
    clear: left;
}

.image-box span {
    width: 100%;
    text-align: center;
    display: block;
}

.image-box span img {
    max-width: 100%;
    width: 100%;
}

.image-box p {
    display: block;
    width: 100%;
    position: absolute;
    left: 0px;
    color: #fff;
    height: 48px;
    line-height: 48px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    bottom: 0px;
    margin: 0px;
}

.icon_ln {
    left: 20px;
    position: relative;
    top: 32px;
}

footer {
    float: left;
    width: 100%;
    background: #232323;
    padding: 70px 0px 0px;
}

.footer-form input[type=text],
.footer-form input[type=email] {
    float: left;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border: none;
    background: #393939;
    color: #898989;
    font-size: 14px;
    margin-bottom: 8px;
    border-radius: 3px;
    padding-left: 10px;
}

.footer-form textarea {
    float: left;
    width: 100%;
    height: 77px;
    border: none;
    background: #393939;
    color: #898989;
    font-size: 14px;
    margin-bottom: 8px;
    border-radius: 3px;
    padding-left: 10px;
}

.footer-form .security-code {
    float: left;
    width: 100%;
}

.footer-form h2 {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    font-size: 20px;
    color: #777777;
    text-transform: uppercase;
    font-weight: bold;
}

.code-img {
    float: left;
    margin-right: 20px;
}

.footer-form .security-code input[type=text] {
    float: left;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border: none;
    background: #393939;
    color: #898989;
    font-size: 14px;
    margin-bottom: 8px;
    border-radius: 3px;
    padding-left: 10px;
    max-width: 166px;

}

.footer-form .submit {
    float: left;
    width: 100%;
    margin-bottom: 70px;
}

.footer-form .submit button {
    float: left;
    width: 100%;
    max-width: 166px;
    height: 45px;
    line-height: 45px;
    border: none;
    background: #fff;
    color: #232323;
    font-size: 14px;
    border-radius: 3px;
}

.footer-right {
    float: left;
    width: 100%;
    margin-top: 70px;
}

.footer-right ul {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.footer-right ul li {
    float: left;
    width: 100%;
    margin-bottom: 35px;
    color: #cdcdcd;
}

.footer-right ul li span {
    float: left;
    margin-right: 20px;
    font-size: 14px;
}

.copy-right {
    float: left;
    width: 100%;
    background: #181818;
    height: 56px;
    line-height: 56px;
}

.copy-right .copy-text {
    float: left;
    width: 50%;
    color: #cdcdcd;
    font-size: 14px;
    padding-left: 15px;
}

.copy-right .sociyal-text {
    width: 50%;
    padding-right: 15px;
}

.copy-right .sociyal-text ul {
    float: right;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.copy-right .sociyal-text ul li {
    display: inline-block;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.carousel-control {
    display: none;
}

.carousel-indicators {
    bottom: 14px;
}

.carousel-indicators li {
    background: #fff;
    width: 12px;
    height: 12px;
}

.carousel-indicators .active {
    border: 2px solid #413f3e;
    width: 16px;
    height: 16px;
    position: relative;
    top: 1px;
}

.top-slider {
    position: relative;
}

.top-slider .banner-tag {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    z-index: 999;
    text-transform: uppercase;
}

.top-slider .banner-tag h2 {
    text-align: center;
    display: inline;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding: 0 10px;
    margin: 0px;
}

.top-slider .banner-tag h1 {
    text-align: center;
    display: inline;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    padding: 0 10px;
    margin: 0px;
}

.slide-text {
    position: absolute;
    right: 20%;
    bottom: 26px;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: #fff;
}

.dropdown-menu {
    border: none;
    border-radius: 0px;
    background: none;
    padding: 0px;
    min-width: 180px;
}

.dropdown-menu li {
    margin-top: 1px;
}

.dropdown-menu li a {
    background: #fff;
    border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -ms-border-radius: 0 0 2px 2px;
    line-height: 35px;
    padding: 0 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: #393939;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background: none;
}

.dropdown .caret, .dropdown .caret-up {
    display: none;
}

ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #393939;
}

.regi_txt {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #393939;
    text-align: center;
    margin: 45px 0px 40px 0px;
}

.gen_txt {
    background-color: #b3b3b3;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 25px;
}

label {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.col-md-6 > input {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    height: 40px;
    width: 70%;
}

.gen_spc {
    margin-bottom: 25px
}

.col-md-6.gen_spc.col-xs-push-1 > input {
    padding-left: 15px;
}

.col-md-6.gen_spc.col-xs-pull-0 > input {
    padding-left: 15px;
}

.list_box {
    padding-left: 10%;
}

.input-group-addon {
    background-color: #fff;
}

hr {
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
}

.radio_ele {
    margin-top: 5%;
}

.sub_spc {
    margin: 15px 0;
}

.sub_bottom_spc {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 4px !important;
}

.select-wrapper {
    float: left;
    display: inline-block;
    border: 1px solid #d8d8d8;
    background: url("dropdown-sprite.png") no-repeat right 0 transparent;
    cursor: pointer;
}

.select-wrapper, .select-wrapper select {
    width: 200px;
    height: 26px;
    line-height: 26px;
}

.select-wrapper:hover {
    background: url("dropdown-sprite.png") no-repeat right -26px transparent;
    border-color: #239fdb;
}

.select-wrapper .holder {
    display: block;
    margin: 0 35px 0 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: -1;
}

.select-wrapper select {
    margin: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

/* Let's Beautify Our Form */
form {
    margin: 0px;
}

input[type="submit"] {
    float: left;
    background: #d8d8d8;
    border: 1px solid #c4c4c4;
    margin-left: 10px;
    padding: 4px 10px;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    color: #fff;
    border-color: #1b7aa9;
    background-color: #239fdb;
}

.gender {
    margin-top: -4%;
}

.pick_up {
    clear: both;
    float: left;
    width: 50%;
}

.col-md-5.gen_txt.postal_left {
    margin-left: 1%;
}

textarea {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    width: 150%;
}

.table_side {
    float: left;
    margin-left: 10%;
}

.bg_img {
    background: url(../img/top-slider1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-main {
    background: rgba(0, 0, 0, 0) url("../img/login-bg.jpg") no-repeat scroll 0 0 / cover;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.login {
    bottom: 0;
    float: left;
    left: 0;
    margin: auto;
    max-width: 422px;
    padding: 0px 15px;
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
    height: 522px;
}

.form-main {
    float: left;
    width: 100%;
    background: rgba(114, 114, 114, 0.7);
    padding: 0 30px;
    margin-top: -3px;
    height: 430px;
}

.login h1 {
    opacity: 1.0;
    margin: 0;
    padding: 3px 0;
    border-radius: 5px 5px 0 0;
}

.login h1 img {
    max-width: 100%;
}

.well-come-text {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin: 10px 0 5px;
    letter-spacing: 4px;
}

.login form .remember a {
    color: #747474;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    letter-spacing: 0.2px;
}

fieldset {
    border: 0 none;
    margin: 0;
    min-width: 0;
    padding: 0;
}

.login form {
    float: left;
    padding: 0px 0px 0;
    width: 100%;
}

.login-input {
    border: 1px solid #fff;
    height: 45px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    background: rgba(128, 124, 116, 0.3);
    padding-left: 50px;
    color: #cfcfcf;
}

.control-group {
    margin-top: 0px;
    position: relative;
}

.fa.fa-envelope-o {
    left: 15px;
    position: absolute;
    top: 19px;
    color: #ffffff;
}

.fa.fa-lock {
    left: 15px;
    position: absolute;
    top: 19px;
    color: #ffffff;
}

col-md-8.col-xs-push-0.padding-l {
    margin-top: 10px;
}

.sign_in {
    background-color: #3d5190;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 12px;
    text-align: center;
    width: 100%;
    height: 55px;
}

.lgn_brd_sign_in {
    background-color: #3d5190;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 12px;
    text-align: center;
    width: 100%;
}

.btn-default:hover {
    background-color: #3d5190;
}

.sign_in:hover {
    color: #fff;
}

.forget {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 16px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    position: relative
}

.login-main .control-group {
    float: left;
    width: 100%;
}

.border_side:before {
    border: 1px solid #c3c3c3;
    content: " ";
    left: 0;
    position: absolute;
    top: 12px;
    width: 26%;

}

.border_side:after {
    border: 1px solid #c3c3c3;
    content: " ";
    position: absolute;
    right: 0;
    top: 12px;
    width: 26%;
}

.forget.border_side a {
    color: #fff;
}

@media screen and (max-width: 767px) {
    body, html {
        height: auto;
    }

    .login {
        position: static;
        margin: 8% auto;
        float: none;
    }
}

@media (max-width: 480px) {
    body, html {
        height: auto;
    }

    .border_side:before, .border_side:after {
        width: 20%;
    }
}

@media (max-width: 360px) {
    body, html {
        height: 100%;
    }

}

.signup_link {
    color: #fff;
    display: block;
    float: left;
    margin-top: 11px;
    text-align: center;
    width: 100%;
}

.signup_link:hover, .signup_link a:hover {
    color: #fff;
    display: block;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin-top: 11px;
    text-align: center;
    width: 100%;
}

:focus {
    outline: none !important;
}

.forget.border_side a:focus, .signup_link:focus, .signup_link a:focus {
    color: #fff;
    text-decoration: none;
}

/* Login Buuton */
.modal-footer {
    border-top: 0px;
}

.login_dec {
    text-decoration: underline;
}

.login_fp {
    color: #0c5394;
    text-decoration: underline;
    float: right;
    margin-bottom: 15px;
}

.login_bg {
    background-color: #999;
    border: 1px #000 solid;
    border-radius: 0px;
    width: 255px;
    float: left;
}

.login_bg:hover {
}

.bg_lgn {
    background-color: #d0cece;
}

.lgn_btns {
    bottom: 0;
    float: left;
    height: 422px;
    left: 0;
    margin: auto;
    max-width: 422px;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.err {
    color: red;
}

.extra-login {
    position: relative;;
    display: inline-block;
    float: left;
    height: 40px;
    width: 100%;
}

.extra-login:before {
    height: 1px;
    top: 30px;
    left: -30px;
    width: 118%;
    content: "";
    background: #40373a;
    position: absolute;
}