/*Copyright  2013-2014 Iron Summit Media Strategies

URI: http://http://www.ironsummitmedia.com/

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.*/

/* Global Styles */

/* ------------------------------- */

body {
    background-color: #f8f8f8;
}

/* Wrappers */

/* ------------------------------- */

#wrapper {
    width: 100%;
    margin-top: 55px !important;
    background-color: #04b173;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #f1f1f1;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 20px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

.sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 261px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

    .action_icn_cn {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

/* Buttons */

/* ------------------------------- */

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 280px;
    overflow-y: scroll;
}

/* Login Page */

.login-panel {
    margin-top: 15%;
}

.body-Backcolor {
    background-color: #000;
}

.logo-margin {
    margin-top: 100px;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
}

/* Circle Buttons */

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

.err {
    color: red;
    padding: 5px 5px 15px
}

ul.tsc_pagination {
    margin: 4px 0;
    padding: 0px;
    height: 100%;
    overflow: hidden;
    font: 12px 'Tahoma';
    list-style-type: none;
    float: right;
}

ul.tsc_pagination li {
    float: left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
}

ul.tsc_pagination li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 7px 10px 7px 10px;
}

ul.tsc_paginationA li a {
    color: #FFFFFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

ul.tsc_paginationA01 li a {
    color: #474747;
    border: solid 1px #B6B6B6;
    padding: 6px 9px 6px 9px;
    background: #E6E6E6;
    background: -moz-linear-gradient(top, #FFFFFF 1px, #F3F3F3 1px, #E6E6E6);
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #FFFFFF), color-stop(0.02, #F3F3F3), color-stop(1, #E6E6E6));
}

ul.tsc_paginationA01 li:hover a,
ul.tsc_paginationA01 li.current a {
    background: #FFFFFF;
}

/* Sidebar Menu List  */

#side-menu li > ul {
    margin-left: 20px;
}

/*.panel-default > .panel-heading{display: none !important;}*/
/* Sidebar Menu List  */

#side-menu li > ul {
    margin-left: 20px;
}

.side_human {
    margin-top: -10px;
}

.side_icn {
    color: #fff;
    float: right;
    padding-left: 11px;
    padding-top: 4px;
}

.side_left {
    padding-left: 25px;
}

#side-menu a:hover {
    background-color: rgb(83, 163, 163);
}

.side_gl {
    float: right !important;
    font-size: 1.4em !important;
    cursor: pointer;
}

.panel_bg_clr {
    background-color: #adb7c6 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    border: none;
}

.panel_pr_brd {
    border: none !important;
}

.side_title {
    color: #c4ccdb;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.page_title {
    color: #49505a;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

.dash_tp {
    margin-top: 50px;
}

.blog_box {
    background-color: #ccc;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.panel_foot {
    color: #6e7889;
}

.action_icn_cn {
    padding-left: 15px;
    padding-right: 15px;
}

.odd.gradeX a {
    color: #6e7889;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    float: none;
    padding-left: 5px;
}

.odd.gradeX a:hover {
    color: #6e7889;
    text-decoration: none;
    color: #6e7889;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

/*.select_col {
    margin-top: 60px;
}
*/

.copy-text {
    float: left;
    width: 100%;
    background-color: #191e25;
    color: #fff;
    padding: 10px;
    padding-left: 263px;
}

.copy_foot {
    float: left;
    width: 100%;
    height: 10px;
    background-color: #f1f1f1;
}

}

/* Login Page */
ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #393939;
}

.regi_txt {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #393939;
    text-align: center;
    margin: 45px 0px 40px 0px;
}

.gen_txt {
    background-color: #b3b3b3 !important;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 600;
    margin-bottom: 25px;
}

label {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.col-md-6 > input {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    height: 40px;
    width: 100%;
}

.gen_spc {
    margin-bottom: 25px
}

.col-md-6.gen_spc.col-xs-push-1 > input {
    padding-left: 15px;
}

.col-md-6.gen_spc.col-xs-pull-0 > input {
    padding-left: 15px;
}

.list_box {
    padding-left: 10%;
}

.input-group-addon {
    background-color: #fff;
}

hr {
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
}

.radio_ele {
    margin-top: 5%;
}

.sub_spc {
    margin: 15px 0;
}

.sub_bottom_spc {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 4px !important;
}

.select-wrapper {
    float: left;
    display: inline-block;
    border: 1px solid #d8d8d8;
    background: url("dropdown-sprite.png") no-repeat right 0 transparent;
    cursor: pointer;
}

.select-wrapper,
.select-wrapper select {
    width: 200px;
    height: 26px;
    line-height: 26px;
}

.select-wrapper:hover {
    background: url("dropdown-sprite.png") no-repeat right -26px transparent;
    border-color: #239fdb;
}

.select-wrapper .holder {
    display: block;
    margin: 0 35px 0 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: -1;
}

.select-wrapper select {
    margin: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */

    _noFocusLine: expression(this.hideFocus=true);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

/* Let's Beautify Our Form */
form {
    margin: 0px;
}

.gender {
    margin-top: -4%;
}

.pick_up {
    clear: both;
    float: left;
    width: 50%;
}

.col-md-5.gen_txt.postal_left {
    margin-left: 1%;
}

textarea {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    width: 100%;
}

.table_side {
    float: left;
    margin-left: 10%;
}

.bg_img {
    background: url(../images/top-slider.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-main {
    background: rgba(0, 0, 0, 0) url("../images/login-bg.jpg") no-repeat scroll 0 0 / cover;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.login {
    bottom: 0;
    float: left;
    left: 0;
    margin: auto;
    max-width: 422px;
    padding: 0px 15px;
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
    height: 422px;
}

.form-main {
    float: left;
    width: 100%;
    background: rgba(114, 114, 114, 0.7);
    padding: 0 30px;
    margin-top: -3px;
    height: 310px;
}

.login h1 {
    opacity: 0.7;
    margin: 0;
    padding: 3px 0;
    border-radius: 5px 5px 0 0;
}

.login h1 img {
    max-width: 100%;
}

.well-come-text {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 28px;
    width: 100%;
    text-align: center;
    margin: 10px 0 5px;
    letter-spacing: 4px;
}

.login form .remember a {
    color: #747474;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    letter-spacing: 0.2px;
}

fieldset {
    border: 0 none;
    margin: 0;
    min-width: 0;
    padding: 0;
}

.login form {
    float: left;
    padding: 0px 0px 0;
    width: 100%;
}

.login-input {
    border: 1px solid #fff;
    height: 45px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    background: rgba(128, 124, 116, 0.3);
    padding-left: 50px;
    color: #cfcfcf;
}

.control-group {
    margin-top: 0px;
    position: relative;
}

.fa.fa-envelope-o {
    left: 15px;
    position: absolute;
    top: 19px;
    color: #ffffff;
}

.fa.fa-lock {
    left: 15px;
    position: absolute;
    top: 19px;
    color: #ffffff;
}

col-md-8.col-xs-push-0.padding-l {
    margin-top: 10px;
}

.sign_in {
    border-radius: 0px;
    background-color: #3d5190;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border: medium none;
    max-width: 100%;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 25px;
    border-bottom: 2px solid #93a09f;
    letter-spacing: 1px;
}

.btn-default:hover {
    background-color: #3d5190;
    color: #ffffff;

}

.sign_in:hover {
    color: #fff;
}

.forget {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 16px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    position: relative
}

.login-main .control-group {
    float: left;
    width: 100%;
}

.border_side:before {
    border: 1px solid #c3c3c3;
    content: " ";
    left: 0;
    position: absolute;
    top: 12px;
    width: 26%;
}

.border_side:after {
    border: 1px solid #c3c3c3;
    content: " ";
    position: absolute;
    right: 0;
    top: 12px;
    width: 26%;
}

.forget.border_side a {
    color: #fff;
}

.inlut_spc {
    padding-left: 10px;
}

.form-group.fg {
    float: left;
}

@media screen and (max-width: 767px) {
    body,
    html {
        height: auto;
    }

    .login {
        position: static;
        margin: 8% auto;
        float: none;
    }
}

@media (max-width: 480px) {
    body,
    html {
        height: auto;
    }

    .border_side:before,
    .border_side:after {
        width: 20%;
    }

    .copy-text {
        padding: 10px 10px 10px 3px;
    }
}

@media (max-width: 360px) {
    body,
    html {
        height: 100%;
    }
}

ul {
    list-style: none;
}

@media only screen and (max-width: 320px) {
    .radio-main {
        float: left;
        margin: 0;
        padding: 0;
        width: 290px;
    }

    .upload_side_img {
        display: inline-block;
        float: left;
        height: 122px;
        margin-left: 0px;
        width: 122px;
    }

    .upload_side_img2 {
        margin-bottom: 5px;
        margin-left: 5px;
        display: inline-block;
        float: left;
        height: 122px;
        width: 122px;
    }

    .datepicker {
        left: 8px !important;
    }

    .month {
        font-size: 10px;
        padding-left: 7px;
    }

    .year {
        font-size: 8px;
        padding-left: 5px;
    }

    .create_lg {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 360px) {
    .padding-l {
        padding-left: 15px;
    }

    .padding-r {
        padding-right: 15px;
    }

    .radio.radio-n {
        margin-right: 5px;
    }

    .upload_side_img {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .radio-main {
        float: left;
        margin: 0;
        padding: 0;
        width: 435px;
    }

    .upload_side_img {
        margin-right: 5px;
    }

    .pl_pr {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    /*.radio-n {
    margin: -1px 0 0 35px !important;
}*/
}

@media only screen and (max-width: 640px) {
    /*.radio-n {
    margin: 0 20px !important;
}*/
    .padding-l {
        padding-left: 0px;
    }

    .padding-r {
        padding-right: 0px;
    }

    .pl_pr {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.form-control {
    margin-bottom: 15px;
}

.putright {
    float: right;
    padding-right: 0;
    margin-top: 15px;
}

.putleft {
    float: left;
    margin-top: 15px;
}

.mlminus {
    margin-left: -15px
}

.classrelative {
    position: relative
}

.webname-suggetion {
    margin-top: -20px;
    position: absolute
}

.radio-main {
    float: left;
    width: 100%;
    max-width: 572px;
    margin: 0px;
    padding: 0 0 0 15px;
    margin: 15px 0 0;
}

.radio-main ul {
    float: left;
    width: 100%;
    background: #f2f2f2;
    border: 1px solid #b3b3b3;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Open Sans, sans-serif;
}

.radio-main ul li {
    float: left;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #fff;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    color: #393939;
    font-weight: 400;
}

.radio-main ul li:last-child {
    border: none;
}

.radio-main ul li:nth-child(odd) {
    background: #f5f5f5;
}

/*---- radio btn --*/
.radio-n {
    margin: 0px;
}

.radio-n input[type=radio] {
    display: none;
}

.radio-n label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(../img/radio-bg.png) no-repeat 0 0;
}

.radio-n label {
    margin-left: 5px;
    padding-left: 17px;
}

.radio.radio-n label:before {
    /*border-radius: 8px;*/
}

/*.checkbox label {margin-bottom: 10px;}
.checkbox label:before { border-radius: 3px;}*/
.radio-n input[type=radio]:checked + label:before {
    background: url(../img/radio-check-bg.png) no-repeat 0 0;
}

.containe-middal {
    border-top: 1px solid #ccc;
}

/* Pagination css  addedBy sJ */
ul.tsc_pagination {
    margin: 4px 0;
    padding: 0px;
    height: 100%;
    overflow: hidden;
    font: 12px 'Tahoma';
    list-style-type: none;
    float: right;
}

ul.tsc_pagination li {
    float: left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
}

ul.tsc_pagination li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 7px 10px 7px 10px;
}

ul.tsc_paginationA li a {
    color: #FFFFFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

ul.tsc_paginationA01 li a {
    color: #474747;
    border: solid 1px #B6B6B6;
    padding: 6px 9px 6px 9px;
    background: #E6E6E6;
    background: -moz-linear-gradient(top, #FFFFFF 1px, #F3F3F3 1px, #E6E6E6);
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #FFFFFF), color-stop(0.02, #F3F3F3), color-stop(1, #E6E6E6));
}

ul.tsc_paginationA01 li:hover a,
ul.tsc_paginationA01 li.current a {
    background: #FFFFFF;
}

/*input[type=checkbox]:checked + label:before {content: "\2713";text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);font-size: 15px;color: #f3f3f3;text-align: center;    line-height: 15px;}*/
.m0 {
    margin: 0 !important
}

.m5 {
    margin: 5px !important
}

.m10 {
    margin: 10px !important
}

.m15 {
    margin: 15px !important
}

.m20 {
    margin: 20px !important
}

.m25 {
    margin: 25px !important
}

.m30 {
    margin: 30px !important
}

.mt0 {
    margin-top: 0 !important
}

.mt5 {
    margin-top: 5px !important
}

.mt10 {
    margin-top: 10px !important
}

.mt15 {
    margin-top: 15px !important
}

.mt20 {
    margin-top: 20px !important
}

.mt25 {
    margin-top: 25px !important
}

.mt30 {
    margin-top: 30px !important
}

.mt40 {
    margin-top: 40px !important
}

.mt50 {
    margin-top: 50px !important
}

.mr0 {
    margin-right: 0 !important
}

.mr5 {
    margin-right: 5px !important
}

.mr10 {
    margin-right: 10px !important
}

.mr15 {
    margin-right: 15px !important
}

.mr20 {
    margin-right: 20px !important
}

.mr25 {
    margin-right: 25px !important
}

.mr30 {
    margin-right: 30px !important
}

.mb0 {
    margin-bottom: 0 !important
}

.mb5 {
    margin-bottom: 5px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.mb15 {
    margin-bottom: 15px !important
}

.mb20 {
    margin-bottom: 20px !important
}

.mb25 {
    margin-bottom: 25px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.mb50 {
    margin-bottom: 50px !important
}

.ml0 {
    margin-left: 0 !important
}

.ml5 {
    margin-left: 5px !important
}

.ml10 {
    margin-left: 10px !important
}

.ml15 {
    margin-left: 15px !important
}

.ml20 {
    margin-left: 20px !important
}

.ml25 {
    margin-left: 25px !important
}

.ml30 {
    margin-left: 30px !important
}

.mlm5 {
    margin-top: -5px !important
}

.mlm10 {
    margin-top: -10px !important
}

.mlm15 {
    margin-top: -15px !important
}

.mlm20 {
    margin-top: -20px !important
}

.mlm25 {
    margin-top: -25px !important
}

.mtm5 {
    margin-top: -5px !important
}

.mtm10 {
    margin-top: -10px !important
}

.mtm15 {
    margin-top: -15px !important
}

.mtm20 {
    margin-top: -20px !important
}

.mtm25 {
    margin-top: -25px !important
}

.mrm5 {
    margin-top: -5px !important
}

.mrm10 {
    margin-top: -10px !important
}

.mrm15 {
    margin-top: -15px !important
}

.mrm20 {
    margin-top: -20px !important
}

.mrm25 {
    margin-top: -25px !important
}

.mbm5 {
    margin-top: -5px !important
}

.mbm10 {
    margin-top: -10px !important
}

.mbm15 {
    margin-top: -15px !important
}

.mbm20 {
    margin-top: -20px !important
}

.mbm25 {
    margin-top: -25px !important
}

.p0 {
    padding: 0 !important
}

.p5 {
    padding: 5px !important
}

.p10 {
    padding: 10px !important
}

.p15 {
    padding: 15px !important
}

.p20 {
    padding: 20px !important
}

.p25 {
    padding: 25px !important
}

.pt0 {
    padding-top: 0 !important
}

.pt5 {
    padding-top: 5px !important
}

.pt10 {
    padding-top: 10px !important
}

.pt15 {
    padding-top: 15px !important
}

.pt20 {
    padding-top: 20px !important
}

.pt25 {
    padding-top: 25px !important
}

.pr0 {
    padding-right: 0 !important
}

.pr5 {
    padding-right: 5px !important
}

.pr10 {
    padding-right: 10px !important
}

.pr15 {
    padding-right: 15px !important
}

.pr20 {
    padding-right: 20px !important
}

.pr25 {
    padding-right: 25px !important
}

.pb0 {
    padding-bottom: 0 !important
}

.pb5 {
    padding-bottom: 5px !important
}

.pb10 {
    padding-bottom: 10px !important
}

.pb15 {
    padding-bottom: 15px !important
}

.pb20 {
    padding-bottom: 20px !important
}

.pb25 {
    padding-bottom: 25px !important
}

.pl0 {
    padding-left: 0 !important
}

.pl5 {
    padding-left: 5px !important
}

.pl10 {
    padding-left: 10px !important
}

.pl15 {
    padding-left: 15px !important
}

.pl20 {
    padding-left: 20px !important
}

.pl25 {
    padding-left: 25px !important
}

.per5 {
    width: 5% !important
}

.per10 {
    width: 10% !important
}

.per15 {
    width: 15% !important
}

.per20 {
    width: 20% !important
}

.per25 {
    width: 25% !important
}

.per30 {
    width: 30% !important
}

.per35 {
    width: 35% !important
}

.per40 {
    width: 40% !important
}

.per45 {
    width: 45% !important
}

.per50 {
    width: 50% !important
}

.per55 {
    width: 55% !important
}

.per60 {
    width: 60% !important
}

.per65 {
    width: 65% !important
}

.per70 {
    width: 70% !important
}

.per75 {
    width: 75% !important
}

.per80 {
    width: 80% !important
}

.per85 {
    width: 85% !important
}

.per90 {
    width: 90% !important
}

.per95 {
    width: 95% !important
}

.per100 {
    width: 100% !important
}

.pl30 {
    padding-left: 30px !important;
}

.clr {
    clear: both;
}

.meeting_image > img {
    height: 300px !important;
}

.radio,
.checkbox {
    padding-left: 0px;
    margin-top: 10px !important;
}

.vehicle_txt {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.spc_home {
    margin-top: 20px;
}

.btn-file {
    background: url("../img/browser-btn.png") no-repeat center center;
    border: medium none;
    height: 122px;
    position: relative;
    width: 122px;
}

.btn-file input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 100px;
    height: 122px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: medium none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 122px;
}

.upload_img {
    border: 2px solid #ccc;
    text-align: center;
    float: left;
    background-color: #fff !important;
}

.checkbox_terms {
    display: block;
    margin-bottom: 0px;
    margin-top: 10px;
    position: relative;
}

.upload_txt {
    margin-right: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.upload_check_spc {
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.padding-l {
    padding-left: 8%;
}

.padding-r {
    padding-right: 95px;
}

.padding_spc {
    padding-left: 2%;
}

::-moz-validation-bubble-arrow-clipper,
::-webkit-validation-bubble-arrow-clipper {
    z-index: -1;
    color: blue;
}

::-moz-validation-bubble-arrow,
::-webkit-validation-bubble-arrow {
    z-index: -1;
    color: blue;
}

::-moz-validation-bubble,
::-webkit-validation-bubble {
    z-index: -1;
    color: blue;
}

::-moz-validation-bubble-top-outer-arrow,
::-webkit-validation-bubble-top-outer-arrow {
    z-index: -1;
    color: blue;
}

::-moz-validation-bubble-top-inner-arrow,
::-webkit-validation-bubble-top-inner-arrow {
    z-index: -1;
    color: blue;
}

::-moz-validation-bubble-message,
::-webkit-validation-bubble-message {
    z-index: -1;
    color: blue;
}

.panel-eyecandy-title > a {
    color: #1c1c1c;
}

.panel-footer.panel_foot {
    color: #1c1c1c;
}

.font_th {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.col-xs-3.radio_set {
    margin-top: 10px;
}

.check_side {
    float: left;
    margin-right: 5px !important;
}

.rd_main {
    padding: 0px 0px 0px 0px !important;
}

.ul_set {
    float: left;
    width: 100%;
    padding-left: 20px;
}

.ul_set li {
    float: left;
    min-width: 110px;
    margin-right: 45px;
}

.map_name {
    margin-top: 15px;
}

.label_spc {
    padding-left: 18px;

}

.upload_side_img2 {
    border-radius: 5px;
    display: inline-block;
    float: left;
    height: 122px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 122px;
}

.remove_upload {
    background-color: green;
    border-radius: 5px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 88px;
}

.description_tp {
    margin-top: 15px;
}

.fg {
    margin-bottom: 5px;
}

.ph_bg {
    background-color: #fff !important;
}

.pd {
    border-color: #fff !important;
    border-bottom: #fff;
    box-shadow: none;
}

.pl4 {
    padding-left: 4%;
}

.fg_size {
    width: 100%;
}

.radio_align {
    margin: 5px 5px 0 0 !important;
}

.sb_offer_btn {
    float: left;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: 0px;
    float: left;
}

.pc {
    height: 40px;
}

.panel {
    margin-bottom: 5px !important;
}

.nd_book {
    float: left;
}

.rdo_bg {
    background-color: #f2f2f2;
}

.valid_txt {
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: 400;
}

.fnt_title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    font-family: Open Sans, sans-serif;
}

.footer-btn .btn {
    float: left;
    margin: 0 10px 5px 0 !important;
}

.panel_bg {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

/* responsive css*/
@media (max-width: 320px) {
    .remove_upload {
        margin-top: 5px;
        float: right;
    }

    .footer-btn .sb_offer_btn {
        width: 100%;
        margin: 0 0 10px 0 !important;
    }

    .footer-btn .can-btn {
        float: right;
    }
}

@media (max-width: 455px) {
    .remove_upload {
        float: left !important;
        font-family: Open Sans, sans-serif;
        font-size: 14px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .submit_btn {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .radiio_res_grading {
        float: right;
        padding: 0px;
    }
}

@media (max-width: 360px) {
    .col-xs-9.radiio_res_grading {
        padding-left: 75px;
    }

    .panel {
        margin-bottom: 5px;
    }
}

@media (max-width: 320px) {
    .col-xs-9.radiio_res_grading {
        padding-left: 54px;
    }
}

.btn-danger {
    background-color: #fd7373 !important;
    border-color: #d43f3a;
    color: #fff;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #d2322d !important;
    border-color: #ac2925;
    color: #fff;
}

.panel-body .form-group.col-md-6.fg {
    line-height: 1.2;
    margin-top: 10px;
}

.form-group.col-md-6.fg > label {
    margin-bottom: 1px;
}

.submit_btn {
    font-size: 14px;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    /*background-color: #fff;*/
}

.submit_btn:hover {
    /*background-color: #e6e6e6 !important;*/
    /*color: #000 !important;*/
}

input[type="submit"] {
    float: left;
    /*background: #fff;*/
    border: 1px solid #b3b3b3 !important;
    margin-left: 10px;
    padding: 6px 12px;
    cursor: pointer;
    outline: none;
    margin-right: 15px;
    /* color: #000000 !important;*/
}

input[type="submit"]:hover {
    /* color: #ffffff !important;*/
    border-color: #b3b3b3;
    /* background-color: #239fdb; */
}

