.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-2i {
  width: 20%;
}
.col-2ii {
  width: 21%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-12 {
  width: 100%;
}
.col-1,
.col-2,
.col-2i,
.col-2ii,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: inline-block;
  margin-left: -3px;
  vertical-align: top;
}
.col-1:first-child,
.col-2:first-child,
.col-2i:first-child,
.col-2ii:first-child,
.col-3:first-child,
.col-4:first-child,
.col-5:first-child,
.col-6:first-child,
.col-7:first-child,
.col-8:first-child,
.col-9:first-child,
.col-10:first-child,
.col-11:first-child,
.col-12:first-child {
  margin-left: 0;
}
.flcol-1 {
  width: 8.333333333333332%;
}
.flcol-2 {
  width: 16.666666666666664%;
}
.flcol-2i {
  width: 20%;
}
.flcol-2ii {
  width: 21%;
}
.flcol-3 {
  width: 25%;
}
.flcol-4 {
  width: 33.33333333333333%;
}
.flcol-5 {
  width: 41.66666666666667%;
}
.flcol-6 {
  width: 50%;
}
.flcol-7 {
  width: 58.333333333333336%;
}
.flcol-8 {
  width: 66.66666666666666%;
}
.flcol-9 {
  width: 75%;
}
.flcol-10 {
  width: 83.33333333333334%;
}
.flcol-11 {
  width: 91.66666666666666%;
}
.flcol-12 {
  width: 100%;
}
.flcol-1,
.flcol-2,
.flcol-2i,
.flcol-2ii,
.flcol-3,
.flcol-4,
.flcol-5,
.flcol-6,
.flcol-7,
.flcol-8,
.flcol-9,
.flcol-10,
.flcol-11,
.flcol-12 {
  float: left;
}
.color-selector {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 0;
  margin-top: -200px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.1);
  width: 203px;
  box-sizing: border-box;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  left: -203px;
}
.color-selector .select-preview {
  width: 100%;
  padding-left: 9px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: left;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #3a4c5b;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #FFF;
  min-height: 37px;
  line-height: 37px;
}
.color-selector .select-preview span {
  display: block;
  position: relative;
}
.color-selector .select-preview span:before {
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  width: 18px;
  height: 100%;
  background: #425b6e;
  content: "\f107";
  font-family: 'FontAwesome';
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.color-selector .select-preview ul {
  display: none;
  position: absolute;
  margin-top: -1px;
  top: 100%;
  left: 0;
  max-height: 200px;
  overflow-y: auto;
  background: #3a4c5b;
  width: 100%;
  color: #FFF;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-right: -100px;
  padding-right: 100px;
}
.color-selector .select-preview ul li {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  line-height: 18px;
}
.color-selector .select-preview ul li a {
  color: #FFF;
  padding: 9px;
  display: block;
  box-sizing: border-box;
}
.color-selector .select-preview ul li:hover {
  background: #425b6e;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.color-selector input[type=text] {
  background: #333333;
}
.color-selector .show-colors {
  position: absolute;
  top: 17px;
  right: -32px;
  width: 32px;
  height: 32px;
  background: #425b6e;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.color-selector .show-colors:before {
  content: "\f104";
  font-family: FontAwesome;
  color: #FFF;
  line-height: 32px;
  font-size: 16px;
  margin-left: 12px;
}
.color-selector .show-colors:hover {
  background: #55758e;
}
.color-selector .colors-content {
  text-align: center;
  margin: 22px 22px 0 22px;
  box-sizing: border-box;
  overflow: hidden;
}
.color-selector .colors-content h2 {
  font-size: 12px;
  text-transform: uppercase;
  color: #26323c;
}
.color-selector .colors-content h3 {
  font-size: 12px;
  color: #26323c;
}
.color-selector .colors-content hr {
  display: block;
  border: none;
  height: 1px;
  background: #edf2f6;
  position: relative;
}
.color-selector .colors-content hr:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #edf2f6;
  position: absolute;
  top: 0;
  left: -100%;
}
.color-selector .colors-content hr:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #edf2f6;
  position: absolute;
  top: 0;
  right: -100%;
}
.color-selector .colors-content .dropdown {
  width: 100%;
  text-align: left;
}
.color-selector .colors-content .dropdown li,
.color-selector .colors-content .dropdown .selected {
  padding-left: 9px;
  font-family: Arial;
  font-size: 12px;
}
.color-selector .colors-content .dropdown .carat:before {
  color: #b8d3e7;
}
.color-selector .colors-choose {
  padding: 0 22px 22px 22px;
  box-sizing: border-box;
}
.color-selector .colors-choose .colors {
  width: 100%;
  height: 30px;
  cursor: pointer;
  position: relative;
  float: left;
  margin-bottom: 10px;
}
.color-selector .colors-choose .colors .color {
  width: 100%;
  height: 30px;
  -webkit-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}
.color-selector .colors-choose .colors .color.color1 {
  background-color: #26323c;
}
.color-selector .colors-choose .colors .color.color2 {
  background-color: #e04546;
}
.color-selector .colors-choose .colors .color.color3 {
  background-color: #a5bed0;
}
.color-selector .colors-choose .colors .colorSelector {
  position: absolute;
  top: -140px;
  width: 364px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
  padding: 10px;
  z-index: 9999;
  -webkit-box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
}
.color-selector .background-choose {
  box-sizing: border-box;
}
.color-selector .background-choose .backgrounds {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  float: left;
  margin-right: 8%;
  margin-bottom: 8%;
}
.color-selector .background-choose .backgrounds:nth-child(4n+4) {
  margin-right: 0;
}
.color-selector .background-choose .backgrounds .background {
  width: 30px;
  height: 30px;
  -webkit-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}
.color-selector .background-choose .backgrounds .background.background1 {
  background: #eff4f6;
}
.color-selector .background-choose .backgrounds .background.background2 {
  background: url(images/colorpicker/background/2.png);
}
.color-selector .background-choose .backgrounds .background.background3 {
  background: url(images/colorpicker/background/3.png);
}
.color-selector .background-choose .backgrounds .background.background4 {
  background: url(images/colorpicker/background/4.png);
}
.color-selector .background-choose .backgrounds .background.background5 {
  background: url(images/colorpicker/background/5.png);
}
.color-selector .background-choose .backgrounds .background.background6 {
  background: url(images/colorpicker/background/6.png);
}
.color-selector .background-choose .backgrounds .background.background7 {
  background: url(images/colorpicker/background/7.png);
}
.color-selector .background-choose .backgrounds .background.background8 {
  background: url(images/colorpicker/background/8.png);
}
.color-selector .background-choose .backgrounds .colorSelector {
  position: absolute;
  top: 100%;
  width: 364px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
  padding: 10px;
  -webkit-box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
}
.colorpicker {
  width: 100%;
  height: 150px;
  position: absolute;
  background: url(images/colorpicker/slider.png) no-repeat 174px 0;
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}
.colorpicker input {
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  right: 11px;
  text-align: right;
  margin: 0;
  padding: 0;
  height: 22px;
}
.colorpicker_color {
  width: 150px;
  height: 150px;
  left: 4px;
  top: 0;
  position: absolute;
  background: #ff0000;
  overflow: hidden;
  cursor: crosshair;
}
.colorpicker_color div {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: url(images/colorpicker/colorpicker_overlay.png);
}
.colorpicker_color div div {
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 11px;
  overflow: hidden;
  background: url(images/colorpicker/colorpicker_select.gif);
  margin: -5px 0 0 -5px;
}
.colorpicker_hue {
  position: absolute;
  top: 0;
  left: 162px;
  width: 35px;
  height: 150px;
  cursor: n-resize;
}
.colorpicker_hue div {
  position: absolute;
  width: 35px;
  height: 9px;
  overflow: hidden;
  background: url(images/colorpicker/custom_indic.gif) left top;
  margin: -4px 0 0 0;
  left: 0px;
}
.colorpicker_new_color {
  position: absolute;
  width: 70px;
  height: 30px;
  left: 209px;
  top: 0;
  background: #ff0000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.colorpicker_current_color {
  position: absolute;
  width: 70px;
  height: 30px;
  left: 290px;
  top: 0;
  background: #ff0000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.colorpicker_hex {
  background: #333333;
  position: absolute;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 72px;
  height: 22px;
  left: 209px;
  top: 129px;
}
.colorpicker_hex:before {
  content: "#";
  color: #ffffff;
  line-height: 22px;
  margin-left: 6px;
}
.colorpicker_hex input {
  right: 6px;
}
.colorpicker_field {
  height: 22px;
  width: 70px;
  background: #333333;
  position: absolute;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.colorpicker_field:before {
  content: "";
  color: #ffffff;
  line-height: 22px;
  margin-left: 6px;
}
.colorpicker_field span {
  position: absolute;
  width: 12px;
  height: 22px;
  overflow: hidden;
  top: 0;
  right: 0;
  cursor: n-resize;
}
.colorpicker_rgb_r {
  top: 39px;
  left: 209px;
}
.colorpicker_rgb_r:before {
  content: "R";
}
.colorpicker_rgb_g {
  top: 69px;
  left: 209px;
}
.colorpicker_rgb_g:before {
  content: "G";
}
.colorpicker_rgb_b {
  top: 99px;
  left: 209px;
}
.colorpicker_rgb_b:before {
  content: "B";
}
.colorpicker_hsb_h {
  top: 39px;
  left: 290px;
}
.colorpicker_hsb_h:before {
  content: "H";
}
.colorpicker_hsb_s {
  top: 69px;
  left: 290px;
}
.colorpicker_hsb_s:before {
  content: "S";
}
.colorpicker_hsb_b {
  top: 99px;
  left: 290px;
}
.colorpicker_hsb_b:before {
  content: "B";
}
.colorpicker_submit {
  position: absolute;
  height: 22px;
  width: 70px;
  background: #e04546;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #ffffff;
  left: 290px;
  top: 129px;
  overflow: hidden;
  cursor: pointer;
  line-height: 22px;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.colorpicker_submit:hover {
  background: #e45f60;
}
.colorpicker_submit.colorpicker_focus {
  background-position: bottom;
}
.colorpicker_slider {
  background-position: bottom;
}
