.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
.ale_demopreview_container {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.ale_demopreview_container .body {
  margin: 5% 10% 5% 10%;
  background: #FFF;
  overflow-y: auto;
  height: 80%;
  position: relative;
}
/* Headers
********************/
.parallax-window {
  min-height: 450px;
  background: transparent;
}
section.header {
  width: 100%;
}
section.header .logo {
  margin: 30px 0 0 30px;
  display: block;
}
section.header .promo {
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
section.header .promo .callluster {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.02em;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 20px;
  color: #a5bed0;
}
section.header .promo .text {
  margin-top: 20px;
  line-height: 24px;
  padding: 0 20px 0 20px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  color: #26323c;
}
/* Body
*******************************/
.body {
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
}
.demos {
  width: 100%;
  background: #FFF;
}
.demos a {
  color: inherit;
}
.demos .boxtitle {
  height: 90px;
  background: #26323c;
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-family: "Questrial";
  font-size: 18px;
  font-weight: 400;
}
.demos .democontent {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.demos .democontent .demoitem {
  width: 300px;
  height: 250px;
  margin: 0 10px 20px 10px;
  background: #FFF;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
}
.demos .democontent .demoitem:hover span {
  color: #e04546;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.demos .democontent .demoitem span {
  font-family: "Questrial";
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.demos .democontent .demoitem .sitescreen {
  margin: 10px;
  overflow: hidden;
  height: 195px;
  position: relative;
}
.demos .democontent .demoitem .sitescreen img {
  position: relative;
  top: 0;
  transition: top 0.9s ease-in-out;
}
.demos .democontent .demoitem .sitescreen img:hover {
  transition: top 2.5s ease-in-out;
}
.demos .democontent .demoitem .sitescreen img.luster-main:hover {
  top: -665px;
}
.demos .democontent .demoitem .sitescreen img.luster-idx:hover {
  top: -697px;
}
.demos .democontent .demoitem .sitescreen img.luster-sea:hover {
  top: -598px;
}
.demos .democontent .demoitem .sitescreen img.luster-vintage:hover {
  top: -710px;
}
.demos .democontent .demoitem .sitescreen img.luster-forest:hover {
  top: -896px;
}
.demos .democontent .demoitem .sitescreen img.luster-classic:hover {
  top: -478px;
}
.demos .democontent .demoitem .sitescreen img.luster-modern:hover {
  top: -825px;
}
.close-preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #e04546;
  cursor: pointer;
}
.close-preview .icon {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(images/close.png) center center no-repeat;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.close-preview .icon:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.color1 {
  color: #e04546;
}
.color2 {
  color: #8a8a8a;
}
.color3 {
  color: #e99b36;
}
.color4 {
  color: #87D37C;
}
.color5 {
  color: #55897d;
}
.color6 {
  color: #b6d5e1;
}
.color7 {
  color: #EEC550;
}
.ale_demopreview_container {
  /*
   * CSS Styles that are needed by jScrollPane for it to operate correctly.
   *
   * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
   * may not operate correctly without them.
   */
  /* Yuk! CSS Hack for IE6 3 pixel bug :( */
  /* Styles specific to this particular page */
  /* Force the scroll bar to the left hand side of the screen */
}
.ale_demopreview_container .jspContainer {
  overflow: hidden;
  position: relative;
}
.ale_demopreview_container .jspPane {
  position: absolute;
}
.ale_demopreview_container .jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: red;
}
.ale_demopreview_container .jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}
.ale_demopreview_container .jspCap {
  display: none;
}
.ale_demopreview_container .jspHorizontalBar .jspCap {
  float: left;
}
.ale_demopreview_container .jspTrack {
  background: #FFF;
  position: relative;
}
.ale_demopreview_container .jspDrag {
  background: #e04546;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.ale_demopreview_container .jspHorizontalBar .jspTrack,
.ale_demopreview_container .jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}
.ale_demopreview_container .jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.ale_demopreview_container .jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}
.ale_demopreview_container .jspVerticalBar .jspArrow {
  height: 16px;
}
.ale_demopreview_container .jspHorizontalBar .jspArrow {
  width: 8px;
  float: left;
  height: 100%;
}
.ale_demopreview_container .jspVerticalBar .jspArrow:focus {
  outline: none;
}
.ale_demopreview_container .jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}
.ale_demopreview_container * html .jspCorner {
  margin: 0 -3px 0 0;
}
.ale_demopreview_container .jspVerticalBar {
  left: 0;
}
.ale_demopreview_container .scroll-pane {
  width: 100%;
  height: 200px;
  overflow: auto;
}
.show-preview-small {
  display: none;
  z-index: 9999;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #FFF;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.show-preview-small .show-modal-demo-selector {
  width: 143px;
  height: 36px;
  line-height: 40px;
  color: #FFF;
  background: #e04546;
  display: inline-block;
  margin: 5px;
  font-size: 11px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: Raleway;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.show-preview-small .show-modal-demo-selector:hover {
  background: #26323c;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media (min-width: 1200px) {
  .parallax-window {
    min-height: 450px;
  }
  section.header .promo {
    margin-top: 60px;
  }
}
