.dsidx-separator {
  border-color: #ebedee;
}
.dsidx-results .dsidx-paging-control {
  width: 65%;
  float: left;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 11px;
  color: #96a8b6;
  font-family: 'Arial', sans-serif;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #e5ebee;
  text-align: left;
}
.dsidx-results .dsidx-paging-control a {
  color: #96a8b6;
  text-decoration: underline;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.dsidx-results .dsidx-paging-control a:hover {
  color: #425b6e;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.dsidx-results .dsidx-sorting-control {
  float: right;
  width: 35%;
  height: 40px;
  font-size: 11px;
  color: #96a8b6;
  font-family: 'Arial', sans-serif;
  line-height: 40px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #e5ebee;
  text-align: right;
}
.dsidx-results .dsidx-sorting-control form {
  display: inline-block;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}
.dsidx-results #dsidx-map-control {
  clear: both;
  padding-top: 20px;
  padding-bottom: 5px;
}
.dsidx-results #dsidx-map-control:after,
.dsidx-results #dsidx-map-control:before {
  content: "";
  clear: both;
  display: table;
  float: none;
}
#dsidx select,
#dsidx-search-form select {
  padding-right: 20px;
  height: 30px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding-left: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 11px;
  font-family: 'Arial', sans-serif;
  color: #a5bed0;
  background-position: right center;
}
#dsidx-listings {
  margin-left: 0;
}
#dsidx-listings li:before {
  display: none;
}
#dsidx-listings li.dsidx-listing {
  border: 1px solid #f4f7f8;
  list-style: none;
  clear: both;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#dsidx-listings li.dsidx-listing:hover {
  border: 1px solid #96a8b6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#dsidx-listings li.dsidx-listing:before,
#dsidx-listings li.dsidx-listing:after {
  content: "";
  clear: both;
  display: table;
}
#dsidx-listings li.dsidx-listing .dsidx-media {
  width: 42.58%;
  float: left;
}
#dsidx-listings li.dsidx-listing .dsidx-media .dsidx-photo {
  max-height: 220px;
  border: 0;
}
#dsidx-listings li.dsidx-listing .dsidx-media .dsidx-photo img {
  width: auto;
  max-width: 293px;
  max-height: 220px;
}
#dsidx-listings li.dsidx-listing .dsidx-primary-data {
  width: 57.42%;
  padding-left: 293px;
  background: transparent;
}
#dsidx-listings li.dsidx-listing .dsidx-primary-data .dsidx-address {
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px solid #edf2f6;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 15px;
  line-height: 22px;
}
#dsidx-listings li.dsidx-listing .dsidx-primary-data .dsidx-address a {
  color: #171c26;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#dsidx-listings li.dsidx-listing .dsidx-primary-data .dsidx-address a:hover {
  text-decoration: none;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#dsidx-listings li.dsidx-listing .dsidx-primary-data .dsidx-price {
  font-size: 22px;
  line-height: 22px;
  font-weight: normal;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #e04546;
}
#dsidx-listings li.dsidx-listing .dsidx-secondary-data {
  padding-left: 323px;
  background: transparent;
  width: auto;
}
#dsidx-listings li.dsidx-listing .dsidx-secondary-data div {
  width: 49%;
  padding-right: 10px;
  box-sizing: border-box;
  margin-right: 2%;
  float: left;
  line-height: 16px;
  font-size: 11px;
  font-family: 'Arial', sans-serif;
}
#dsidx-listings li.dsidx-listing .dsidx-secondary-data div:nth-child(2n) {
  margin-right: 0;
}
#dsidx-listings li.dsidx-listing .dsidx-secondary-data div:before {
  content: "\f00c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 8px;
  color: #4e677a;
  margin-right: 3px;
}
#dsidx-disclaimer {
  width: 35%;
  float: left;
  font-size: 10px;
  line-height: 11px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #e5ebee;
  height: 40px;
  font-family: 'Arial', sans-serif;
}
#dsidx-disclaimer p {
  display: none;
}
#dsidx-listings li hr {
  background-color: transparent;
  margin: 5px auto;
}
.idx-template-file .title {
  padding-left: 150px;
  padding-right: 150px;
}
.idx-template-file .title h2 {
  text-transform: none;
  font-size: 24px;
  color: #000000;
}
.idx-template-file .dsidx-details #dsidx-actions {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 11px;
  color: #96a8b6;
  font-family: 'Arial', sans-serif;
  background: #e5ebee;
  text-align: left;
  margin-bottom: 20px;
}
.idx-template-file .dsidx-details #dsidx-actions a {
  color: #96a8b6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.idx-template-file .dsidx-details #dsidx-actions a:hover {
  background: none;
  color: #425b6e;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.idx-template-file #dsidx-header {
  margin-bottom: 40px!important;
}
.idx-template-file #dsidx-header table td {
  border: 1px solid #f4f7f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.idx-template-file #dsidx-header table td #dsidx-media-td {
  margin-top: 20px;
  margin-bottom: 20px;
}
.idx-template-file #dsidx-header table td #dsidx-primary-data {
  margin-bottom: 15px;
}
.idx-template-file #dsidx-header table td #dsidx-primary-data td {
  border: none;
  webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: left;
}
.idx-template-file blockquote#dsidx-description {
  margin-bottom: 40px!important;
}
.idx-template-file blockquote#dsidx-description span#dsidx-description-text {
  font-size: 12px;
  padding-left: 30px;
  display: block;
}
.idx-template-file #dsidx-property-types {
  margin-bottom: 20px;
}
.idx-template-file table#dsidx-secondary-data {
  border: 1px solid #f4f7f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.idx-template-file table#dsidx-secondary-data td {
  text-align: left;
}
.idx-template-file #dsidx .dsidx-secondary-row {
  background: #f4f7f8;
}
.idx-template-file table.dsidx-supplemental-data {
  color: inherit;
  border: 1px solid #f4f7f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.idx-template-file table.dsidx-supplemental-data th {
  width: 30%;
  border: 0;
  text-transform: lowercase;
  text-align: left;
}
.idx-template-file table.dsidx-supplemental-data th::first-letter {
  text-transform: uppercase;
}
.idx-template-file table.dsidx-supplemental-data td {
  width: 70%;
  border: 0;
  text-align: left;
}
.idx-template-file #dsidx h3 {
  margin-bottom: 20px;
}
.idx-template-file .dsidx-contact-form {
  color: inherit;
  border: 1px solid #f4f7f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
}
.idx-template-file .dsidx-contact-form table .dsidx-secondary-row {
  background: transparent!important;
}
.idx-template-file .dsidx-contact-form table td {
  border: none;
}
.idx-template-file .dsidx-contact-form table td.column-one {
  width: 33%;
}
.idx-template-file .dsidx-contact-form table td.column-two {
  width: 77%;
}
.idx-template-file .dsidx-contact-form table td input[type="text"],
.idx-template-file .dsidx-contact-form table td textarea {
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #e3e3e3;
}
.idx-template-file .dsidx-contact-form table td input.dsidx-contact-form-submit {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}
.dsidx-details hr {
  border-color: #e3e3e3;
}
.dsidx-details #dsidx-disclaimer {
  display: none;
}
.dsidx-widget-search {
  background: #26323c;
  padding: 20px;
}
.dsidx-widget-search p.caption {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 22px;
}
.dsidx-widget-search .dsidx-search-widget {
  color: #96a8b6;
}
.dsidx-widget-search .dsidx-search-widget label {
  display: block;
  width: 100%;
}
.dsidx-widget-search .dsidx-search-widget input.dsidx-improvedsqft,
.dsidx-widget-search .dsidx-search-widget input.dsidx-beds,
.dsidx-widget-search .dsidx-search-widget input.dsidx-baths,
.dsidx-widget-search .dsidx-search-widget input.dsidx-mlsnumber {
  width: 100%!important;
}
.dsidx-widget-search .dsidx-search-widget input.submit {
  width: 100%;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
}
.dsidx-widget-single-listing-wrap {
  max-width: 223px;
}
.dsidx-widget-single-listing-wrap .dsidx-widget-single-listing {
  width: 223px;
  background: #26323c;
  border: none;
  font-family: inherit;
}
.dsidx-widget-single-listing-wrap .dsidx-widget-single-listing .dsidx-widget-single-listing-slideshow {
  height: auto;
}
.dsidx-widget-single-listing-wrap .dsidx-widget-single-listing .dsidx-widget-single-listing-photo {
  width: 223px!important;
  height: auto!important;
  line-height: normal!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-controls {
  text-transform: uppercase;
  color: #26323c;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-controls a {
  color: #26323c;
  font-size: 11px;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow {
  height: 240px;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul {
  height: 240px;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul li:before {
  display: none!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul ul {
  height: auto;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul ul li:before {
  display: none!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul li.featured-listing {
  height: 240px!important;
  background: #FFFFFF;
  padding: 10px!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul li.featured-listing a.dsidx-photo {
  width: 100%!important;
  position: relative!important;
  top: auto!important;
  left: auto!important;
  float: none!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul li.featured-listing a.dsidx-photo img {
  border: none!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul li.featured-listing h4 {
  margin-left: 0!important;
  margin-top: 10px!important;
  line-height: 16px!important;
  text-transform: none!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul li.featured-listing h4 a {
  text-transform: none!important;
  line-height: 14px!important;
  color: #26323c!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul li.featured-listing p {
  margin-left: 0!important;
  width: 100%;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul li.featured-listing p span {
  width: 100%;
  box-sizing: border-box;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-slideshow ul li.featured-listing p span.price {
  color: #e04546;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-list li {
  background: #ffffff!important;
  margin-bottom: 2px!important;
  color: #a5bed0!important;
  padding: 8px 4px 8px 50px!important;
  box-sizing: border-box !important;
  display: block!important;
  position: relative!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-list li a {
  font-size: 12px!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-list li:before {
  top: 16px!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-results-widget-map-details {
  height: auto!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-results-widget-map-details .featured-listing {
  background: #FFFFFF;
  padding: 10px;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-results-widget-map-details .featured-listing a.dsidx-photo {
  width: 100%;
  position: relative;
  top: auto;
  left: auto;
  float: none;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-results-widget-map-details .featured-listing a.dsidx-photo img {
  border: none;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-results-widget-map-details .featured-listing h4 {
  margin-left: 0!important;
  margin-top: 10px!important;
  line-height: 16px!important;
  text-transform: none!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-results-widget-map-details .featured-listing h4 a {
  text-transform: none!important;
  line-height: 14px!important;
  color: #26323c;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-results-widget-map-details .featured-listing ul {
  margin-left: 0!important;
  width: 100%;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-results-widget-map-details .featured-listing ul li {
  width: 100%;
  box-sizing: border-box;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-results-widget-map-details .featured-listing ul li.price {
  color: #e04546;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-results-widget-map-details .featured-listing ul li:before {
  display: none;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-expanded .featured-listing {
  background: #FFFFFF;
  padding: 10px;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-expanded .featured-listing a.dsidx-photo {
  width: 100%;
  position: relative;
  top: auto;
  left: auto;
  float: none;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-expanded .featured-listing a.dsidx-photo img {
  border: none;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-expanded .featured-listing h4 {
  margin-left: 0!important;
  margin-top: 10px!important;
  line-height: 16px!important;
  text-transform: none!important;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-expanded .featured-listing h4 a {
  text-transform: none!important;
  line-height: 14px!important;
  color: #26323c;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-expanded .featured-listing ul {
  margin-left: 0!important;
  width: 100%;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-expanded .featured-listing ul li {
  width: 100%;
  box-sizing: border-box;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-expanded .featured-listing ul li.price {
  color: #e04546;
}
.dsidx-widget-listings .dsidx-results-widget .dsidx-expanded .featured-listing ul li:before {
  display: none;
}
div.dsidx-results-widget .dsidx-slideshow-control {
  background: #6a8090;
  color: #FFF!important;
  font-size: 10px;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
}
div.dsidx-results-widget .dsidx-slideshow-control:hover {
  background: #425b6e;
}
.dsidx-shortcode-item .dsidx-primary-photo {
  width: 32%!important;
  float: left;
  margin-right: 0!important;
}
.dsidx-shortcode-item .dsidx-primary-photo img {
  max-width: 100%;
  height: auto;
  width: auto;
  border: 0!important;
}
.dsidx-shortcode-item .dsidx-primary-data {
  width: 65%;
  float: right;
}
.dsidx-shortcode-item .dsidx-primary-data td,
.dsidx-shortcode-item .dsidx-primary-data th {
  line-height: 15px!important;
}
.dsidx-shortcode-item blockquote {
  margin-bottom: 40px!important;
  font-size: 12px;
  padding-left: 90px;
  display: block;
}
.dsidx-shortcode-item .dsidx-shortcode-map {
  margin-left: 0!important;
  border: 0!important;
}
.dsidx-shortcode-item table {
  margin-left: 0!important;
  color: inherit;
  border: 1px solid #f4f7f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dsidx-shortcode-item table td,
.dsidx-shortcode-item table th {
  border: none!important;
}
.dsidx-shortcode-item table .dsidx-secondary-row {
  background: #f4f7f8;
}
.dsidx-shortcode-item .dsidx-address {
  text-align: left;
}
.dsidx-shortcode-item .dsidx-address a {
  color: #26323c;
}
#dsidx_cboxOverlay {
  background: #000000 !important;
}
.dsidx-summary {
  text-align: center;
}
.dsidx-results li.dsidx-prop-summary {
  border: 1px solid #f4f7f8;
}
.dsidx-results li.dsidx-prop-summary img {
  border: 0!important;
}
.dsidx-results li.dsidx-prop-summary .dsidx-prop-title {
  border-bottom: 1px solid #f4f7f8;
  margin-bottom: 0!important;
  padding-left: 15px;
}
.dsidx-results li.dsidx-prop-summary .dsidx-prop-features {
  float: left;
  margin-top: 10px;
  width: 60%;
}
.dsidx-results li.dsidx-prop-summary .dsidx-prop-features div {
  width: 49%;
  box-sizing: border-box;
  padding-left: 10px;
  float: left;
  margin-right: 2%;
}
.dsidx-results li.dsidx-prop-summary .dsidx-prop-features div:nth-child(2n) {
  margin-right: 0;
}
.dsidx-results li.dsidx-prop-summary .dsidx-prop-features div:before {
  content: "\f00c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 8px;
  color: #4e677a;
  margin-right: 4px;
}
.dsidx-results li.dsidx-prop-summary:before {
  display: none;
}
